.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: right;
  align-items: center;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s linear;
  z-index: 3;
}

.popup_is-opened {
  visibility: visible;
  opacity: 1;
}

.popup__container {
  width: 520px;
  height: 100%;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  position: relative;
}

.popup__close {
  background-image: url('../../images/close.svg');
  background-size: contain;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 23px;
  right: 23px;
}

.popup__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 203px 0 0;
}

.popup__link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 0;
  margin: 0 0 36px 0;
  transition: all 0.3s;
}

.popup__link_active {
  text-decoration: underline;
}

.popup__link:hover {
  opacity: 70%;
}

.popup__link_type_profile {
  display: flex;
  font-size: 13px;
  font-weight: 500;
  border: none;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 90px;
  box-shadow: none;
}

.popup__profile-img {
  height: 26px;
  width: 26px;
  padding: 0;
  margin: 0 0 0 7px;
  border: none;
  box-shadow: none;
}

@media screen and (max-width: 568px) {
  .popup__container {
    width: 100%;
  }

  .popup__close {
    top: 13px;
    right: 13px;
  }

  .popup__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 144px 0 46px;
  }

  .popup__link {
    margin: 0 0 24px 0;
  }

  .popup__link_type_profile {
    bottom: 46px;
  }
}

