.header_location_home {
  background-color: #073042;
}

.header__container {
  max-width: calc(1280px - 70px * 2);
  margin: 0 auto;
  padding: 18px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 38px;
  height: 38px;
}

.header__nav {
  width: calc(100% - 38px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__movie-links {
  padding: 0;
  margin: 0 0 0 44px;
}

.header__link {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
}

.header__link_active {
  font-weight: 600;
}

.header__link:hover {
  opacity: 70%;
}

.header__link_type_saved {
  padding: 0;
  margin: 0 0 0 16px;
}

.header__link_type_home {
  margin: 0;
  padding: 0;
  width: 38px;
  height: 38px;
}

.header__link_active {
  font-weight: 500;
}

.header__link_type_profile {
  display: flex;
  align-items: center;
  line-height: 12px;
}

.header__profile-img {
  height: 26px;
  width: 26px;
  padding: 0;
  margin: 0 0 0 7px;
  background: transparent;
}

.header__auth-links {
  display: flex;
}

.header__link_type_sign-up {
  margin: 8px 30px 0 0;
}

.header__link_type_sign-in {
  display: block;
  width: 76px;
  height: 32px;
  border-radius: 3px;
  background-color: #3DDC84;
  color: #073042;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  padding: 8px 20px;
  box-sizing: border-box;
}

@media screen and (max-width: 1040px) {

  .header__container {
    padding: 18px 30px;
  }

  .header__nav {
    display: none;
  }

  .header__link {
    font-size: 12px;
    line-height: 16px;
  }
}

@media screen and (max-width: 568px) {

  .header__container {
    padding: 18px 14px;
  }

  .header__link {
    font-size: 10px;
    line-height: 16px;
  }

  .header__link_type_sign-up {
    margin: 5px 14px 0 0;
  }

  .header__link_type_sign-in {
    width: 54px;
    height: 26px;
    font-size: 10px;
    padding: 5px 12px;
  }
}